<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= link_to "Home", root_path, class: 'nav-link active' %>
      <% if can? :manage, Follow %>
        <%= link_to "Subscriptions", follows_path, class: 'nav-link' %>
      <% end %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
